<link rel= "stylesheet" href="css/estilos.css">



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible " content="ie=edge">
    <title>Document</title>

<head>
<body>
    <h2> esta es mi primera pagina</h2>


    <div class="download-apps">
      <a href="//itunes.apple.com/us/app/uber/id368677368?mt=8"
         target="_blank" class="apple-store ir js-app-store-btn" class="ga-click-track" data-ga="global-menu.appstore-button-click">
        <img src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/global/apple-store-download-135px.png" />
      </a>
      <a href="//play.google.com/store/apps/details?id=com.ubercab"
         target="_blank" class="google-play ir" class="ga-click-track" data-ga="global-menu.playstore-button-click">
        <img src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/global/google-play-store-download-135px.png" />
      </a>
      <a href="//www.windowsphone.com/en-us/store/app/uber/b905a877-bd55-4ce7-a7aa-467cdc3a21f4"
         target="_blank" class="windows-store ir" class="ga-click-track" data-ga="global-menu.windowsstore-button-click">
        <img src="//d1a3f4spazzrp4.cloudfront.net/web-fresh/global/windows-phone-135px.png" />
      </a>
    </div>
</body>
</html>